<app-navbar [activeTab]="'contact-us'"></app-navbar>
<html>
  <body>
    <div
      class="parent container d-flex flex-column justify-content-center w-100 align-items-center"
    >
    <p class="text-success" style="font-size: 20px; font-weight: 500;">{{successMessage}}</p>
      <div
        class="container w-100 d-flex justify-content-around align-items-start"
      >
        <div class="right">
          <div class="title">
            <p>تواصل معنا</p>
          </div>
          <form [formGroup]="orderForm" (ngSubmit)="order()">
            <div
              class="form d-flex flex-column justify-content-start align-items-start"
            >
            <div class="in">

                <input type="text" placeholder="الإسم" class="form-control" formControlName="customer_name" />
                <p class="text-danger">{{errorMessageName}}</p>
            </div>
            <div class="in">
                <input
                type="email"
                placeholder="البريد الإلكتروني"
                class="form-control"
                formControlName="email"
                />
                <p class="text-danger">{{errorMessageEmail}}</p>
                
            </div>
            <div class="in">
                
                <input
                type="text"
                placeholder="رقم الهاتف"
                class="form-control"
                formControlName="phone_no"
                />
                <p class="text-danger">{{errorMessagePhone}}</p>
                
            </div>
            <div class="in">
                <textarea
                class="form-control"
                name=""
                id=""
                cols="10"
                rows="5"
                formControlName="order_body"
                placeholder="الرساله"
                ></textarea>
                <p class="text-danger">{{errorMessageOrder}}</p>
                


            </div>
              <button type="submit" class="btn btn-light form-control">
                إرسال
              </button>
            </div>
          </form>
        </div>
        <div class="left">
          <div class="title">
            <p>موقعنا</p>
          </div>

          <div class="map">
            <div class="mapouter h-100">
              <div class="gmap_canvas w-100 h-100">
                <iframe
                  class="gmap_iframe"
                  width="100%"
                  height="100%"
                  frameborder="0"
                  scrolling="no"
                  marginheight="0"
                  marginwidth="0"
                  src="https://maps.google.com/maps?width=600&amp;height=600&amp;hl=en&amp;q=Kafr El-Shaikh&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"
                ></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
