<app-navbar [activeTab]="'about'"></app-navbar>
<html>
  <body>
    <div
      class="parent container-fluid d-flex flex-column justify-content-center align-items-start"
    >
      <div class="title">
        <p>Fish Market</p>
      </div>
      <div
        class="container w-100 d-flex justify-content-start align-items-center"
      >
        <div class="right">
          <div class="image">
            <img src="../../assets/images/about.jpg" alt="" />
          </div>
        </div>
        <div class="left">
          
          <div class="price">
            <p>
                نحن شركة فيش ماركت لتسويق الاسماك يمكنكم من خلال موقعنا معرفة كل شي يخص اسواق الاسماك حبث نعرض لكم اسعار كل انواع الاسماك بالتفصيل من اقل سعر حتي اعلي سعر وايضا الاسعار الاكثر تداولا</p>
             <p> نساعدكم ايضا علي معرفة المحلات التي يتوفر فيها كل نوع والاسعار التي يباع بها لكي تستطيعوا ان تقرروا اي المحلات انسب لكم
            </p>
          </div>
         
        </div>
      </div>
    </div>
  </body>
</html>
