*{
    overflow: hidden;
}
.parent{
    padding-top: 139px;
    width: 80%;
    margin-bottom: 30px;
    
    .title{
        p{
            font-size: 30px;
            font-weight: 500;
            color: #6098bd;
            padding-right: 30px;
            margin-bottom: 30px;
        }
    }
    .right{
        .image{
            border-radius: 20px;
            width: fit-content;
            img{
                width: 430px;
                height: 300px;
            }
        }
    }
    .left{
        height: 300px;
        padding: 20px;
        margin-right: 50px;
        border-radius: 20px;
        width: 50%;
        padding-right: 40px;
        color: rgb(0, 0, 66);
        background-color: #f5f5f5;
        
        
        .price{
            margin-top: 10px;
            p{
                font-size: 16px;
                padding: 0;
                margin: 0;
                margin-bottom: 10px;
            }
        }
        
    }
}